// compileOnSave
// variables
$c-font: #81868e;
$c-white: #ffffff;
$c-green: #19bd9a;

//styles to all elements
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//styles to body
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: $c-font;
}
.title {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 300;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:300');
//helper
// @import "helpers/media-queries";
// sections
@import "sections/header";
@import "sections/portfolio";

// blocks
@import "blocks/filters";
