@font-face {
  font-family: 'Source__Sans__Pro';
  src: url("../fonts/sourcesanspro-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open__Sans';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open__Sans';
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open__Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #81868e;
}

.title {
  font-family: 'Source__Sans__Pro', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 300;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  min-height: 100vh;
  padding-top: 45px;
  background: url("../img/bgnd.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

.header__nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
}

.header__logo svg {
  fill: #ffffff;
  transition: transform 0.3s ease;
}

.header__logo svg:hover {
  transform: scale(1.1);
}

.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__menu-link {
  width: 80px;
  height: 33px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Open__Sans', sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.1s ease;
}

.header__menu-link:hover {
  border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
  border: 1px solid #ffffff;
  background-color: #19bd9a;
}

.header__menu-link--active {
  border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
  border: 1px solid #ffffff;
}

.header__title {
  margin-top: 27vh;
  font-size: 35px;
  line-height: 70px;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.header__text {
  margin: 0 auto;
  max-width: 630px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.header__reference {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #19bd9a;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.portfolio {
  padding: 85px 0 100px;
  background: linear-gradient(to bottom, white, #f3f3f3);
}

.portfolio .container {
  padding: 0 25px;
}

.portfolio__title {
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 0.2em;
  margin-bottom: 35px;
  color: #333b46;
}

.portfolio__text {
  margin: 0 auto;
  max-width: 475px;
  text-align: center;
  letter-spacing: 0.05em;
}

.portfolio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  width: 25%;
  padding: 5px;
}

.portfolio__img {
  display: block;
  width: 100%;
  height: auto;
}

.grid-sizer {
  width: 25%;
}

.team {
  padding: 80px 70px 100px;
}

.team__title {
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333b46;
}

.team__text {
  margin: 40px auto;
  text-align: center;
  max-width: 470px;
}

.team .slider__img {
  margin: 15px;
}

.team .slider__article {
  text-align: right;
  padding-right: 50px;
}

.team .slider__title {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #464646;
}

.team .slider__title span {
  display: block;
  font-family: 'Source__Sans__Pro', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
  color: #81868e;
}

.team .slider__title::after {
  content: '';
  display: block;
  width: 4px;
  height: 42px;
  background: #19bd9a;
  position: absolute;
  right: -50px;
  top: 0;
}

.team .slider__text {
  letter-spacing: 0.05em;
}

.contactus {
  padding: 55px 0;
  background: url("../img/lets__talk__bgd.jpg") center center no-repeat;
  background-size: cover;
}

.contactus__text {
  margin: 0 auto;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
}

.contactus__link {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
  padding: 0;
  width: 140px;
  height: 37px;
  font-family: 'Open__Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 18px 19px 19px 18px/18px 18px 19px 19px;
  transition: color 0.2s ease, background 0.2s ease;
}

.contactus__link:hover {
  background: #ffffff;
  color: #040404;
}

.testimonials {
  padding: 75px 0 100px;
  margin: 0 auto;
  text-align: center;
  background: #f3f3f3;
}

.testimonials__title {
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333b46;
}

.testimonials__text {
  margin: 40px auto;
  text-align: center;
  max-width: 470px;
}

.testimonials .container {
  background: #ffffff;
  padding: 55px 70px 60px 70px;
  justify-content: space-around;
}

.testimonials .container .slider__img {
  width: 130px;
  height: 130px;
  margin: 0 30px;
}

.testimonials .container .slider__article {
  max-width: calc(100% - 250px);
  margin: 0 35px;
  align-items: flex-start;
  text-align: left;
}

.testimonials .container .slider__title {
  order: 1;
  font-family: 'Open__Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #19bd9a;
}

.testimonials .container .slider__title span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #464646;
}

.testimonials .container .slider__text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
}

.contact {
  padding: 70px 0 0;
}

.contact__title {
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333b46;
  text-align: center;
}

.contact__text {
  margin: 40px auto;
  text-align: center;
  max-width: 470px;
}

.contact__map {
  width: 100%;
  height: 440px;
}

.footer {
  padding: 70px 15px 60px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin: 0;
  transition: opacity 0.2s ease;
}

.footer__logo:hover {
  opacity: 0.5;
}

.footer__text {
  margin: 40px 0;
  max-width: 470px;
}

.footer__social {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-link {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.footer__social-link--facebook {
  background: #3b5998;
}

.footer__social-link--twitter {
  background: #26a6d1;
}

.footer__social-link--linkedin {
  background: #0e76a8;
}

.footer__social-link--instagram {
  background: #3f729b;
}

.footer__social-link--vimeo {
  background: #86c9ef;
}

.footer__social-link:hover {
  transform: scale(1.3);
}

.footer__social-icon {
  fill: #ffffff;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 75px 0;
}

.filters-item {
  margin: 0 10px;
}

.filters-link {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 0 15px;
  font-family: 'Open__Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #464646;
  line-height: 12px;
  padding: 15px 0;
  transition: all 0.1s ease;
}

.filters-link:hover::after, .filters-link--active::after {
  content: '';
  display: block;
  position: relative;
  bottom: -15px;
  left: calc(50% - 19px);
  background: #19bd9a;
  color: #19bd9a;
  width: 38px;
  height: 2px;
  border-radius: 1px;
}

.slider {
  background: #ffffff;
}

.slider__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.slider__img {
  display: block;
  overflow: hidden;
}

.slider__article {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 430px;
  overflow: hidden;
}

.slider__navigation {
  margin: 45px auto 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__button {
  width: 10px;
  height: 10px;
  border: 1px solid #19bd9a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
  margin: 0 5px;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.slider__button--active {
  background-color: #19bd9a;
}

/*# sourceMappingURL=main.css.map */