@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:300");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #81868e;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 300;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  min-height: 100vh;
  padding-top: 45px;
  background: url("/assets/img/bgnd.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

.header__nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
}

.header__logo svg {
  fill: #ffffff;
  transition: transform 0.3s ease;
}

.header__logo svg:hover {
  transform: scale(1.1);
}

.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__menu-link {
  width: 80px;
  height: 33px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.header__menu-link:hover {
  border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
  border: 1px solid #ffffff;
  background-color: #19bd9a;
}

.header__menu-link--active {
  border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
  border: 1px solid #ffffff;
}

.header__title {
  margin-top: 27vh;
  font-size: 35px;
  line-height: 70px;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.header__text {
  margin: 0 auto;
  max-width: 630px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.header__reference {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #19bd9a;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.portfolio {
  padding: 85px 0 100px;
  background: linear-gradient(to bottom, white, #f3f3f3);
}

.portfolio .container {
  padding: 0 25px;
}

.portfolio__title {
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 0.2em;
  margin-bottom: 35px;
  color: #333b46;
}

.portfolio__text {
  margin: 0 auto;
  max-width: 475px;
  text-align: center;
  letter-spacing: 0.05em;
}

.portfolio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  width: 25%;
  padding: 5px;
}

.portfolio__img {
  display: block;
  width: 100%;
  height: auto;
}

.team {
  padding: 80px 0 100px;
}

.team__title {
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333b46;
}

.team__text {
  margin: 40px auto;
  text-align: center;
  max-width: 470px;
}

.contactus {
  padding: 55px 0;
  background: url("/assets/img/lets__talk__bgd.jpg") center center no-repeat;
  background-size: cover;
}

.contactus__text {
  margin: 0 auto;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
}

.contactus__link {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
  padding: 0;
  width: 140px;
  height: 37px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 18px 19px 19px 18px/18px 18px 19px 19px;
}

.testimonials {
  padding: 75px 0 100px;
  background: #f3f3f3;
}

.contact {
  padding: 70px 0 0;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 75px 0;
}

.filters-item {
  margin: 0 10px;
}

.filters-link {
  display: block;
  text-decoration: none;
  padding: 0 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #464646;
  line-height: 12px;
  padding: 15px 0;
  transition: border 0.1s ease;
}

.filters-link:hover {
  border-bottom: 2px solid #19bd9a;
}

.filters-link--active, .filters-link--active:hover {
  border-bottom: 2px solid #19bd9a;
}

.slider {
  padding: 15px 70px;
  background: #ffffff;
}

.slider__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider__img {
  display: block;
  width: 290px;
  height: 365px;
}

.slider__article {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 430px;
}

/*# sourceMappingURL=main.css.map */