.header {
  min-height: 100vh;
  padding-top: 45px;
  background: url('../img/bgnd.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  &__nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: block;
    & svg {
      fill: $c-white;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &-item {
      // margin-left: 30px;
    }
    &-link {
      width: 80px;
	    height: 33px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      text-transform: capitalize;
      color: $c-white;
      cursor: pointer;
      transition: background 0.3s ease;
      &:hover {
        border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
        border: 1px solid $c-white;
        background-color: $c-green;
      }
      &--active {
          border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
          border: 1px solid $c-white;
      }
    }
  }
  &__title {
    margin-top: 27vh;
    font-size: 35px;
    line-height: 70px;
    letter-spacing: 0.2em;
    color: $c-white;
  }
  &__text {
    margin: 0 auto;
    max-width: 630px;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: $c-white;
  }
  &__reference {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 36px;
	  height: 36px;
    border-radius: 18px;
	  background-color: $c-green;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
